* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items: center;
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-weight: bolder;
}

.nav a:hover {
  color: rgb(211, 69, 18);
}

.nav a.active {
  color: red;
  border-bottom: 5px solid orangered;
}

.container {
  /* margin-top: 1rem; */
  text-align: center;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    margin-top: 1rem;
  }

  .links li {
    margin: 0.5rem 0;
  }
}

.active {
  color: blue;
  /* border-bottom: 2px solid red; */
}